body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2 {
    color: #fff;
    margin-bottom: 20px;
    background-color: #007bff;
    padding: 10px;
    border-radius: 8px;
}

.form-section {
    background-color: #e3f2fd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #007bff;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.list-section {
    background-color: #e3f2fd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #007bff;
}

ol {
    padding: 0;
    margin: 0;
    list-style-type: decimal;
}

ol li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

ol li a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

ol li a:hover {
    color: #0056b3;
}

.table-section {
    background-color: #e3f2fd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #007bff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    padding: 12px 15px;
    border: 1px solid #dee2e6;
}

th {
    background-color: #007bff;
    color: white;
    text-align: left;
}

td img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

tbody tr:nth-child(even) {
    background-color: #f1f8ff;
}

.map-section {
    background-color: #e3f2fd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #007bff;
}

iframe {
    width: 100%;
    border: none;
    border-radius: 8px;
}


@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    input,
    select {
        width: calc(100% - 10px);
    }

    iframe {
        height: 300px;
    }
}
